name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.WORKFLOW_TOKEN }}
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Bump version
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        npm version patch
    - name: Build
      run: yarn build
    - name: Push changes
      run: git push origin develop --tags
    - name: Trigger Go release
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: 'go-release.yml'
        repo: 'dkhalife/donetick'
        token: ${{ secrets.WORKFLOW_TOKEN }}